@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Satisfy&family=Source+Serif+Pro:ital,wght@1,300&display=swap');

p {
    /* font-family: 'Source Serif Pro', serif; */
    /* font-family: 'Satisfy', cursive; */
    /* color: rgb(0, 132, 255) !important;
    width: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15% !important;
    font-size: 20px;
    margin-top: 17%;
    font-family: 'Jacques Francois', serif;
    font-weight: bold; */
    font-family: 'Jacques Francois', serif;
    font-weight: bold;
    color: rgb(0, 132, 255) !important;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    box-shadow: 0 0 60px 2px rgb(0, 132, 255);
    width: fit-content;
}



 .view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 400px;
}

.plane {
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
}

.plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;
}

.plane.main .circle {
/*  width: 120px;
    height: 120px;
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px rgba(220, 20, 60, 1), inset 0 0 60px rgba(220, 20, 60, 1); */

    width: 300px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
}

.plane.main .circle::before,
.plane.main .circle::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    box-shadow: 0 0 60px 2px rgb(0, 132, 255);
    background: rgb(20, 220, 203);
    box-sizing: border-box;
/*     box-shadow: 0 0 60px 2px rgba(220, 20, 60, 1);
      background: rgba(220, 20, 60, 1); */
}


.plane.main .circle::before {
    transform: translateZ(-90px);
}

.plane.main .circle::after {
    transform: translateZ(90px);
}

.plane.main .circle:nth-child(1) {
    transform: rotateZ(calc(1 / 5 * 360deg)) rotateX(63.435deg);
}

.plane.main .circle:nth-child(2) {
    transform: rotateZ(calc(2 / 5 * 360deg)) rotateX(63.435deg);
}

.plane.main .circle:nth-child(3) {
    transform: rotateZ(calc(3 / 5 * 360deg)) rotateX(63.435deg);
}

.plane.main .circle:nth-child(4) {
    transform: rotateZ(calc(4 / 5 * 360deg)) rotateX(63.435deg);
}

.plane.main .circle:nth-child(5) {
    transform: rotateZ(calc(5 / 5 * 360deg)) rotateX(63.435deg);
}

 @keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}  









.err {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url("https://i.imgflip.com/42yakg.jpg");
    background-size: cover;
   

}


.err div {
    position: absolute;
    top: 122px;
    left: 71%;
    font-size: 128px;
    font-weight: 600;
    color: rgb(196, 10, 10)
}